<form method="post" action="{{ path('model_index', {'id': model.id}) }}" onsubmit="return confirm('Weet u zeker dat u dit wilt verwijderen');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model.id) }}">
    <button class="btn-light cst-btn bg-color text-white  pl-3 pr-3 p-2 mt-3 mb-5">Verwijderen</button>
</form>
