{% extends 'base.html.twig' %}
{% block title %}
    SBC|Model
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var secondarySlider = new Splide('#secondary-slider', {
                rewind: true,
                fixedWidth: 100,
                fixedHeight: 64,
                isNavigation: true,
                gap: 10,
                focus: 'center',
                pagination: false,
                cover: true,
                breakpoints: {
                    '600': {
                        fixedWidth: 66,
                        fixedHeight: 40,
                    }
                }
            }).mount();

            var primarySlider = new Splide('#primary-slider', {
                type: 'fade',
                heightRatio: 0.5,
                pagination: false,
                arrows: false,
                cover: true,
            }); // do not call mount() here.

            primarySlider.sync(secondarySlider).mount();
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">

{% endblock %}
{% block body %}
<div class="mx-auto mt-5 text-justify w-50 p-2 text-white bg-color">
    {% if sliders is not empty %}
        <div id="primary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slider in sliders %}
                        <li class="splide__slide"><img class="img-fluid" src="{{ asset(slider.sliderImg) }}"/></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="secondary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slider in sliders %}
                        <li class="splide__slide"><img src="{{ asset(slider.sliderImg) }}"/></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <img class="w-100" alt="{{ model.name }}" src="{{ asset(model.img) }}"/>
    {% endif %}
    <hr class="brd">
    <div class="float-right">
        <h6 class="mb-1">Categoriën</h6>
        <ul class="list-group list-group-horizontal">
            {% for category in model.category %}
                <li class="list-group-item text-center text-white bg-color no-brdrd border-white"> {{ category|capitalize }}</li>
            {% endfor %}
        </ul>
    </div>
    <h4>{{ model.name }}</h4>
    <p>{{ model.text }}</p>
    {% if modelsInfo is not empty %}
        <hr class="brd">
        <h5>Technische gegevens</h5>
        <div class="table-responsive">
            <table class="table pl-3 pr-3">
                <thead>
                <tr>
                    <th class="text-white text-center" scope="col">Type</th>
                    <th class="text-white text-center" scope="col">Info</th>
                </tr>
                </thead>
                <tbody>
                {% for modelInfo in modelsInfo %}
                    <tr>
                        <td scope="row" class="text-center text-white"> {{ modelInfo.type|capitalize }}</td>
                        <td class="text-center text-white">{{ modelInfo.info }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
<div class="mx-auto mt-1 text-justify w-50 mb-5">
    <a class="under text-body" href="{{ path('model_index')}}">&lt;terug naar overzicht</a>
</div>
{% endblock %}