{% extends 'base.html.twig' %}
{% block title %}
    SBC|Modellen
{% endblock %}
{% block body %}
    <div class="mx-auto mt-3 text-justify w-50 p-2 px-3">
        <h3>Modellen</h3>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="float-right">
            <a class="btn bg-color text-white cst-btn" href="{{ path('model_new') }}">Onderwerp toevoegen</a>
        </div>
        {% endif %}
    </div>
    <div class="mx-auto mt-3 text-justify w-50 p-2">
        <div class="card-deck">
            {% for model in models %}
                <div class="col-sm-6">
                    <div class="card clr-crd">
                        <img class="card-img-top clr-crd" src="{{ asset(model.img) }}" alt="{{ model.name }}">
                        <div class="card-body bg-color text-white no-brdrd">
                            <h5 class="card-title">{{ model.name }}</h5>
                            <p class="card-text">
                                {{ model.text }}
                            </p>
                             <a href="{{ path('model_info',{'id': model.id}) }}"
                             class="text-white under float-right">Meer info</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}