{% extends 'base.html.twig' %}
{% import _self as formMacros %}
{% block title %}
    SBC| Model toevoegen
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JQUERY/collectionModel.js') }}"></script>
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <div class="mx-auto my-auto text-justify w-50 p-2">
        {% form_theme form 'form/error_form.html.twig' %}
        {% form_theme form.category 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form.name) }}<br>
        {{ form_widget(form.text) }}
        {{ form_label(form.img) }}
        {{ form_widget(form.img) }}
        {{ form_row(form.category) }}
    <ul class="list-group" id="modelInfo-fields-list"
        data-prototype="{{ formMacros.customModelCollection(form.modelInfoID.vars.prototype)|e }}"
        data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
        data-widget-counter="{{ form.modelInfoID|length }}">
    </ul>
    <button type="button"
            class="modelInfo mt-2 mb-4 cst-col-btn"
            data-list-selector="#modelInfo-fields-list">Voeg info toe
    </button>

    <ul class="list-group" id="slider-fields-list"
        data-prototype="{{ formMacros.customSliderCollection(form.sliderID.vars.prototype)|e }}"
        data-widget-tags="{{ '<li class="list-group-item"></li>'|e }}"
        data-widget-counter="{{ form.modelInfoID|length }}">
    </ul>
    <button type="button"
            class="slider mt-2 cst-col-btn"
            data-list-selector="#slider-fields-list">Voeg foto slider toe
    </button>

    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    <div class="text-center">
        <a href="{{ path('model_index') }}" class="text-body under">annuleren</a>
    </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

{% macro customModelCollection(modelInfoID) %}
    <div class="col-xs-4 js-genus-scientist-item">
        {{ form_errors(modelInfoID) }}
        {{ form_label(modelInfoID.type) }}
        <br>
        {{ form_widget(modelInfoID.type) }}
        <br>
        {{ form_label(modelInfoID.info) }}
        <br>
        {{ form_widget(modelInfoID.info) }}
    </div>
{% endmacro %}

{% macro customSliderCollection(sliderID) %}
    <div class="col-xs-4 js-genus-scientist-item">
        {{ form_errors(sliderID) }}
        {{ form_label(sliderID.file) }}
        <br>
        {{ form_widget(sliderID.file) }}
    </div>
{% endmacro %}