{% extends 'base.html.twig' %}

{% block title %}SBC| wachtwoord vergeten{% endblock %}
{% block logo %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block body %}
<div class="bg-color h-100">
    <div class="row justify-content-center align-items-center crd-bg">
        <div>
            <div class="card">
                <div class="card-body">
    <p>er is een email verstuurd naar het opgegeven emailadres met een nieuw wachtwoord aanvragen link deze link is {{ tokenLifetime|date('g') }} uur geldig</p>
    <p>als de mail niet in uw inbox ziet kijk dan in uw ongewenste mail folder of <a class="under text-body" href="{{ path('app_forgot_password_request') }}">probeer opnieuw</a></p>
{% endblock %}
{% block footer %}
{%  endblock %}
