<h1>Hallo (Betaald) lid</h1>

<p>Om uw wachtwoord te resetten moet u de link hieronder gebruiken.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Deze link vervalt in {{ tokenLifetime|date('g') }} uur.</p>

<p>Fijne dag nog</p>
