{% extends 'base.html.twig' %}

{% block title %}SBC|Wachtwoord vergeten{% endblock %}
{% block logo %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block body %}
    <div class="bg-color h-100">
        <div class="row justify-content-center align-items-center crd-bg">
            <div>
                <div class="card">
                    <div class="card-body">
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        <h4>Wachtwoord vergeten</h4>

                        {{ form_start(requestForm) }}
                        {{ form_label(requestForm.email) }}<br>
                        {{ form_widget(requestForm.email) }}<br>


                        <button class="btn-light cst-btn bg-color text-white mt-3 form-control cst-sub mb-2">Aanvragen</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}