{% extends 'base.html.twig' %}
{% block title %}SBC|Wachtwoord vergeten{% endblock %}
{% block logo %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block body %}
    <div class="bg-color h-100">
        <div class="row justify-content-center align-items-center crd-bg">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h1>Reset your password</h1>

                        {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Versturen</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
