{% extends 'base.html.twig' %}
{% block title %}
    SBC|Contact
{% endblock %}
{% block body %}
    <div class="mx-auto mt-3 text-justify w-50 p-2">
        <h3>Contact</h3>
        {% if contacts is not empty %}
            {% for contact in contacts %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card clr-crd text-white ">
                                <div class="card-horizontal ">
                                    <div class="img-square-wrapper cw mt-auto mb-auto">
                                        <div class="img-con">
                                            <img class="img-fluid mx-auto cnt-img" src="{{ asset(contact.img) }}"
                                                 alt="{{ contact.name }}">
                                        </div>
                                    </div>
                                    <div class="card-body card bg-color brd">
                                        <div class="h-100">
                                            <h4 class="card-title">{{ contact.name }}</h4>
                                            <p class="card-text">{{ contact.bio }}</p>
                                        </div>
                                        <div>
                                            <p class="card-text bttm">Email:<a
                                                        href="mailto: {{ contact.email }}">{{ contact.email }}</a></p>
                                        </div>
                                    </div>
                                </div>
                                {% if  is_granted('ROLE_ADMIN') %}
                                    <div>
                                        {{ include('contact/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <h3 class="text-center">Er zijn geen leden van de club, sorry voor het ongemak</h3>
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="mx-auto mt-3 text-justify w-50 p-2">
            {% form_theme form 'form/error_form.html.twig' %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form.name) }}
            {{ form_widget(form.bio) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.img) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
