{% extends 'base.html.twig' %}
{% block title %}
    SBC|Forum Topic
{% endblock %}
{% block body %}
        <div class="mx-auto mt-3 text-justify w-50 p-2">
            <h3>{{ category.title }}</h3>
        </div>
    {% if topics is not empty %}
        <div class="mx-auto mt-3 text-justify w-50 p-2">
        {% for topic in topics %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card clr-crd text-white ">
                            <div class="card-horizontal ">
                                <div class="card-body card bg-color brd">
                                    <div class="h-100">
                                        <div class="float-left">
                                            <img class="w-75 mx-auto cnt-img "
                                                 src="{{ asset(topic.userID.profileimage) }}"
                                                 alt="{{ topic.userID.profilename }}">
                                        </div>
                                        <p class="card-title">{{ topic.userID.profilename }} {{ topic.published|date('d-m-Y H:m') }}</p>
                                        {% if topic.img is not empty %}
                                            <img class="w-75 mx-auto cnt-img " src="{{ asset(topic.img) }}"
                                                 alt="{{ topic.userID.profilename }}">
                                        {% endif %}
                                        <p class="card-text">{{ topic.text }}</p>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3 class="text-center">Er zijn geen topics</h3>
    {% endif %}
    </div>
    <div class="mx-auto mt-3 text-justify w-50 p-2">
    {% if is_granted('ROLE_USER') %}

            {% form_theme form 'form/error_form.html.twig' %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_label(form.img) }}
            {{ form_widget(form.img) }}
            {{ form_widget(form.text) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}

    {% endif %}
        <a  class="under text-body"  href="{{ path('forum_category',{'subject': subject}) }}">&lt;terug naar {{ category.title }}</a>
    </div>
{% endblock %}
