{% extends 'base.html.twig' %}
{% block title %}
    SBC|Forum categorie
{% endblock %}
{% block body %}
    <div class="mx-auto mt-3 text-justify w-50 p-2">
    {% if categories is not empty %}
        <h3>{{ subjectInfo.title }}</h3>
    {% endif %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <div class="float-right">
                <a class="btn bg-color text-white cst-btn" href="{{ path('forum_category_new',{'subject': subject}) }}">Topic toevoegen</a>
            </div>
        {% endif %}
    </div>

    <div class="mx-auto mt-3 text-justify w-50 p-2">
        {% if categories is not empty %}
        <div class="table-responsive ">
            <table class=" table bg-color w-100">
                <thead>
                <tr>
                    <th class="text-white" scope="col">Onderwerpen</th>
                    <th class="text-white text-center"  scope="col">Reacties</th>
                    <th class="text-white text-center"  scope="col">Aangemaakt door</th>
                </tr>
                </thead>
                <tbody>
            {% for categorie in categories %}
                <tr>
                    <th scope="row" class="text-white" ><a class="text-white under" href="{{ path('forum_topic', {'subject': subject, 'category': categorie.id}) }}"> {{ categorie.title }}</a></th>
                    <td class="text-center text-white">{{ categorie.reactions}}</td>
                    <td class="text-center text-white">{{ categorie.userID.profilename }}</td>
                </tr>

            {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <h3 class="text-center">Er zijn geen topics in deze categorie, sorry</h3>
        {% endif %}
        <a class="under text-body" href="{{ path('forum_index') }}">&lt;terug naar onderwerpen</a>
    </div>

{% endblock %}
