{% extends 'base.html.twig' %}
{% block title %}
    SBC| Forum onderwerp toevoegen
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <div class="mx-auto my-auto text-justify w-50 p-2">
        {% form_theme form 'form/error_form.html.twig' %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form.title) }}
            <br>
            {{ form_row(form.category) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
            <div class="text-center">
                <a href="{{ path('forum_index') }}" class="text-body under">annuleren</a>
            </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}