{% extends 'base.html.twig' %}
{% block title %}
    SBC|Documenten
{% endblock %}
{% block body %}
    <div class="mx-auto mt-3 text-justify w-50 p-2">
        <div class="float-right">
            <div class="dropdown show">
                <a class=" btn btn-light cst-btn bg-color text-white  pl-3 pr-3 p-2 " href="#" role="button"
                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Selecteer Categorie
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('document') }}">Alle documenten</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 1}) }}">Artikelen uit tijdschriften</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 2}) }}">Divers</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 3}) }}">Folder</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 4}) }}">Handleidingen</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 5}) }}">Koeriers</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 6}) }}">Motorisch</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 7}) }}">Prijslijsten</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 8}) }}">Club merchandise</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 9}) }}">Club Documenten</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 10}) }}">Ontwerp
                        tekeningen</a>
                    <a class="dropdown-item" href="{{ path('document_category',{'number': 11}) }}">Bijdragen van
                        leden</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="dropdown-divider"> </div>
                        <a class="dropdown-item" href="{{ path('document_new') }}">Nieuwe toevoegen</a>

                {% endif %}
                </div>
            </div>
        </div>
        <h3>Documenten</h3>
    </div>
    <div class="mx-auto mt-3 text-justify w-50 p-2">
        {% if documents is not empty %}
            {% for document in documents %}
                {% if document.forAll or  is_granted('ROLE_PAYED') %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card clr-crd text-white ">
                                <div class="card-horizontal ">
                                    {% if document.img is not empty %}
                                        <div class="img-square-wrapper">
                                            <div class="img-con">
                                                <img class="img-fluid mx-auto cnt-img" src="{{ asset(document.img) }}"
                                                     alt="{{ document.title }}">
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="card-body card bg-color brd">
                                        <div class="h-100">
                                            <h4 class="card-title">{{ document.title }}</h4>
                                            <p class="card-text">{{ document.description }}</p>
                                            <a href="{{ asset(document.document) }}"
                                               class="text-white under float-right">document Inzien</a>
                                        </div>
                                    </div>
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div>
                                        {{ include('document/_delete_form.html.twig') }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3 class="text-center">Er zijn geen documenten in deze categorie, sorry</h3>
        {% endif %}
    </div>
{% endblock %}
