{% extends 'base.html.twig' %}
{% block title %}
    SBC| Document toevoegen
{% endblock %}
{% block nav %}
{% endblock %}
{% block body %}
    <div class="mx-auto my-auto text-justify w-50 p-2">
        {% form_theme form 'form/error_form.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.description) }}
        {{ form_row(form.category) }}
        {{ form_label(form.document) }}
        {{ form_widget(form.document) }}
        <br>
        {{ form_label(form.img) }}
        {{ form_widget(form.img) }}
        <br><br>
        {{ form_row(form.forAll) }}
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <div class="text-center">
            <a href="{{ path('document') }}" class="text-body under">annuleren</a>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}