<h1>Hallo  wilt  u uw email verifieren</h1>

<p>
  verifier je email via deze link: <br><br>
    <a href="{{ signedUrl|raw }}">Bevestig email</a>
    Deze link vervalt in {{ expiresAt|date('g') }} uur
</p>

<p>
    Fijn dag nog
</p>
