{% extends 'base.html.twig' %}

{% block title %}SBC|Registreren{% endblock %}
{% block logo %}
{% endblock %}
{% block nav %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"
          integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A=="
          crossorigin="anonymous"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.nl.min.js"
            integrity="sha512-wu9KQfee2uV8RE+AhP6OasxHAeRX+HTTg5MeyKwmzhCv1keCegwJ2DxQSk4bcUUUnVEejzT9jkrm0+HdNUNOsw=="
            crossorigin="anonymous"></script>
    <script src="{{ asset('JQUERY/ibanHider.js') }}"></script>

    <script>
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({format: 'dd/mm/yyyy',});
        });
    </script>
{% endblock %}
{% block body %}
    <div class="bg-color h-100">
        <div class="row justify-content-center align-items-center my-5 mr-0">
            <div class="card">
                <div class="card-body">
                    <div class="w-100">

                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        <h4 class="text-center">Registreren</h4>
                        <hr>
                        {{ form_start(registrationForm) }}
                        {% form_theme registrationForm 'form/error_form.html.twig' %}
                        {{ form_errors(registrationForm) }}
                        <h6>Basisinfo</h6>
                        <table class="w-auto">
                            <tbody>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.email) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.profilename) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.email) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.profilename) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.plainPassword.first) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.plainPassword.second) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.plainPassword.first) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.plainPassword.second) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.profileImage) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.profileImage) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <h6>Persoonlijke informatie</h6>
                        <table class="w-auto">
                            <tbody>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.firstname) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.middlename) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.firstname) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.middlename) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(registrationForm.personalDetailID.lastname) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(registrationForm.personalDetailID.lastname) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.birthday) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.gender) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.birthday) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.gender) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <h6>Contactgegevens info</h6>
                        <table class="w-auto">
                            <tbody>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.streetname) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.housenumber) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.streetname) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.housenumber) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.ZIPcode) }}</td>
                                <td class="w-100">{{ form_label(registrationForm.personalDetailID.city) }}</td>
                            </tr>
                            <tr>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.ZIPcode) }}</td>
                                <td class="w-100">{{ form_widget(registrationForm.personalDetailID.city) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(registrationForm.personalDetailID.province) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(registrationForm.personalDetailID.province) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(registrationForm.personalDetailID.country) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(registrationForm.personalDetailID.country) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(registrationForm.personalDetailID.phonenumber) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(registrationForm.personalDetailID.phonenumber) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_label(registrationForm.roles) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ form_widget(registrationForm.roles) }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="iban" style="display: none">
                            <hr>
                            <h6>IBAN</h6>
                            {{ form_label(registrationForm.bankID.IBAN) }}<br>
                            {{ form_widget(registrationForm.bankID.IBAN) }}<br>
                            {{ form_label(registrationForm.bankID.card_holder) }}<br>
                            {{ form_widget(registrationForm.bankID.card_holder) }}<br>
                        </div>
                            <button type="submit" class="btn-light cst-btn bg-color text-white mt-3 form-control cst-sub mb-2">Register</button>
                            {{ form_end(registrationForm) }}
                            <div class="text-center">
                            <a href="{{ path('app_login') }}" class="under text-body">annuleren</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
