.cw{
    width: 50% !important;
}
.bg-color {
    background-color: #4892a8;
}

.scbg-color {
    background-color: #f1ecec;
}

.head-img {
    max-height: 10%;
}
.cst-col-btn{
    border: 1px solid #7a7a7a;
}

.cst-btn {
    border-radius: 0;
    float: right;
    margin-top: -0.4em;
    border: 1px solid #7a7a7a;
}

.flush {
    margin-top: -0.1em;
}

.check {
    color: green;
}

.cross {
    color: darkred;
}

.under {
    text-decoration: underline !important;
}

.clr-crd {
    border-radius: 0;
    border: 0;
}

.brd {
    border-top: 1px solid white;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.bttm {
    bottom: 0;
}

.mtpl-fls {
    margin-right: 1.1em;
}

.cst-sub {
    background-clip: inherit;
}

.hide {
    display: none;
}

.no-brdrd {
    border-radius: 0 !important;
    border-color: #7a7a7a;;
}

.crd-bg {
    height: 100vh;
    margin-right: 0;
}
.lng-inp{
    width: 22em;
}

@media only screen and (max-width: 1204px) {
.card-horizontal{
    display: inline;
}
.cw{
    width: 100% !important;
}
}