{% extends 'base.html.twig' %}
{% block title %}
    SBC|Over de club
{% endblock %}
{% block body %}
    <div class="mx-auto mt-3 mb-5 text-justify w-50 p-2  pl-3 pr-3 bg-color text-white">
        <h3>Beste bezoekers</h3>
        <p style="overflow: auto">
            Welkom op de website van de Sparta Bromfietsclub! De Sparta Bromfietsclub is een groep enthousiastelingen
            die allemaal verbonden zijn met het bromfietsmerk Sparta. Middels deze website proberen we andere mensen die
            net zo enthousiast zijn, op (de) weg te helpen en te houden.
            <br><br>
            Op ons forum worden vragen beantwoordt over Sparta bromfietsen en snorfietsen, kunnen bromfietsen of
            onderdelen te koop aangeboden worden en kunnen ervaringen gedeeld worden.
            In het modellenoverzicht vindt u informatie over álle types bromfietsen die Sparta door de jaren heen
            gemaakt heeft.
            Op de documentatiepagina staat een schat aan informatie: instructieboekjes van élk type bromfiets,
            revisiehandleidingen van alle typen motorblokken, originele folders van alle types, en nog veel meer: In
            totaal ruim 4000 pagina's.
            <br><br>
            Deze website kan je bezoeken op drie verschillende manieren: Als bezoeker, website gebruiker en als
            (betalend) clublid.
        </p>
        <div class="table-responsive ">
            <table class="table pl-3 pr-3">
                <thead>
                <tr>
                    <th class="text-white" scope="col">Wat biedt de Club</th>
                    <th class="text-white"  scope="col">Bezoeker</th>
                    <th class="text-white"  scope="col">Clublid</th>
                    <th class="text-white"  scope="col">Betaald Clublid</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="text-white" ><a class="text-white under" href="{{ path('model_index') }}"> Modellenoverzicht</a></th>
                    <td class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" ><a class="text-white under" href="{{ path('index') }}">Nieuws</a></th>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" ><a class="text-white under" href="{{ path('index') }}">Forum</a> lezen</th>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >Kleine selectie <a class="text-white under" href="{{ path('document') }}">documentatie</a></th>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" ><a class="text-white under" href="{{ path('index') }}">Forum</a> gebruiken</th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >4 maal per jaar het clubblad De Sparta Koerier</th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >Toegang tot alle <a class="text-white under"  href="{{ path('document') }}">documentatie</a></th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >Welkom op verkoopdagen van het onderdelenfonds</th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >Korting op clubevenementen</th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                <tr>
                    <th scope="row" class="text-white" >Koring bij webshops</th>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="cross"><i class="fas fa-times"></i></span></td>
                    <td  class="text-center"><span class="check"><i class="fas fa-check"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="text-white">Als u lid wil worden klik <a class="under text-white" href="{{ path('app_register') }}">hier</a></p>
    </div>
{% endblock %}