<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('IMG/favicon.ico/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('IMG/favicon.ico/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('IMG/favicon.ico/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('IMG/favicon.ico/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('IMG/favicon.ico/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('IMG/favicon.ico/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('IMG/favicon.ico/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('IMG/favicon.ico/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
              href="{{ asset('IMG/favicon.ico/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('IMG/favicon.ico/favicon.ico-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('IMG/favicon.ico/favicon.ico-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('IMG/favicon.ico/favicon.ico-16x16.png') }}">
        <link rel="manifest" href="{{ asset('IMG/favicon.ico/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('IMG/favicon.ico/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('CSS/main.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block logo %}
    <img src="{{ asset('IMG/LogoBig2.jpg') }}" alt="logo" class="img-fluid head-img">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
        <span class="navbar-brand"></span>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('index') }}">Nieuws <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">Over de club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('forum_index') }}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('model_index') }}">Modellen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('document') }}">Documenten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                {% if app.user is not null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Uitloggen</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Inloggen/Registreren</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}{% endblock %}
{% block footer %}
    <footer class="footer scbg-color p-1 pb-1 mt-auto">
        <div class="container">
            <span>
                <p class="pt-3">
                    &copy;{{ "now"|date('Y') }} SpartabrommerClub
                    {%if is_granted("ROLE_ADMIN") %}
                        <a class="text-body under" href="">ledenlijst</a>
                    {% endif %}
       </p>
            </span>
        </div>
    </footer>

{% endblock footer %}
</body>
</html>
