{% extends 'base.html.twig' %}
{% block title %}
    SBC|Nieuws
{% endblock %}
{% block body %}

    <div class=" center mx-auto mt-5 text-justify w-50 p-2">
        <h3 class="mb-4">Nieuws</h3>
            {% if  is_granted('ROLE_ADMIN') %}
                <div class="mb-5 ">
                    <form method="post" name="news">
                        <input type="text" name="title" class="w-100 mh-25" placeholder="titel" required>
                        <textarea name="text" class="w-100 mh-25 flush" placeholder="tekst"
                                  required></textarea>
                        <br>
                        <input class="btn btn-light cst-btn bg-color pl-3 pr-3 p-2 text-white" required type="submit"
                               name="publiceer" value="publiceer">
                    </form>
                </div>
            {% endif %}
    </div>
    {% for article in articles %}
        <div class="mbg center mx-auto mt-3 mb-5 text-justify w-50 p-2 bg-color text-white">
            <h3>{{ article.title }}</h3>
            <p class="mw-1" style="overflow: auto">
                {{ article.text }}
            </p>
        </div>
    {% endfor %}

{% endblock %}
