{% extends 'base.html.twig' %}

{% block title %}SBC|Login{% endblock %}
{% block logo %}
{% endblock %}
{% block nav %}
{% endblock %}

{% block body %}
    <div class="bg-color h-100">
        <div class="row justify-content-center align-items-center crd-bg">
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-2">
                       <a class="under text-body" href="{{ path('index') }}"> &lt;terug naar hoofdpagina</a>
                        </div>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    U bent ingelogd als {{ app.user.username }}, <a href="{{ path('app_logout') }}">uitloggen</a>
                                </div>
                            {% endif %}

                            <img src="{{ asset('IMG/LogoSmall.jpg') }}" alt="SBC-small" class="mx-auto  w-50 d-block"><br>
                            <label for="inputEmail">Emailadres</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control no-brdrd" required autofocus>
                            <label for="inputPassword">Wachtwoord</label>
                            <input type="password" name="password" id="inputPassword" class="form-control no-brdrd" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >


                            <button class="btn-light cst-btn bg-color text-white mt-3 form-control cst-sub mb-2" type="submit">
                                Sign in
                            </button>
                        </form>
                        <div class="text-center">
                        <a class="under text-body" href="{{ path('app_register') }}">Registreren</a>
                        <a class="under text-body" href="{{ path('app_forgot_password_request') }}">Wachtwoord vergeten</a>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block  footer %}
{% endblock %}
